.main {
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 10px 20px;
  height: 100vh;
  background-color: #C7D1D9;
}

h3 {
  color: #2a3a50;
}

.transfer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transfer-input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
}

.transfer-input > label {
  font-size: 10pt;
  margin-left: 3px;
  margin-bottom: 2px;
  font-weight: 500;
  color: #2a3a50;
}

.transfer-input > input {
  box-shadow: inset 0 0 0 1px #9FB0BF;
  border-radius: 3pt;
  border-width: 0px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12pt;
}

.transfer-input > input:hover {
  box-shadow: inset 0 0 0 2px #7EA1BF;
}

.transfer-input > input:focus {
  box-shadow: inset 0 0 0 2px #577BAC;
}

.transfer-input > input:focus-visible {
  outline-style: none;
}

button {
  border-radius: 5px;
  border-width: 0px;
  box-shadow: inset 0 0 0 1px #9FB0BF;
}

button:hover {
  box-shadow: inset 0 0 0 2px #7EA1BF;
}

button:focus {
  box-shadow: inset 0 0 0 1px #577BAC;
}

.transfers {
  background-color: #EBEFF2;
  border-radius: 4px;
  padding: 15px;
  height: 50vh;
}

.transfer-list{
  width: 100%;
}

.transfer-headers{
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #577BAC;
  font-size: 10pt;
}

th {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
}

.transfer-row{
  padding-bottom: 5px;
  font-size: 10pt;
}

.transfer-headers .text{
  text-align: left;
  font-weight: bold;
}

.transfer-row .text{
  padding-top: 10px;
  text-align: left;
}

.transfer-headers .numeric{
  font-weight: bold;
  text-align: right;
}

.transfer-row .numeric{
  padding-top: 10px;
  text-align: right;
}
